* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.2);
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  object-fit: cover;
}

.image.active {
  opacity: 1;
  transform: scale(1);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background: none;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 10;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.indicators {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.indicator {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background: white;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }
  .carousel img:nth-child(2) {
    display: block;
    opacity: 1 !important;
    position: relative !important;
  }
  .image.active {
    opacity: 1 !important;
  }
}
