:root {
  --black: #000000;
  --white: #ffffff;
  --red: #c8102e;
  --light-gray: #f2f2f2;
  --orange: #b15111;
}

body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--black);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
