.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  width: 480px;
  height: 600px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.backdrop h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.backdrop input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 80px;
  margin-bottom: 1rem;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.submitButton {
  background-color: #df5822;
  color: white;
  border: none;
  margin-top: 1rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.submitButton:hover {
  background-color: var(--orange);
  transition: all 0.3s ease-in-out;
}

.noAccount {
  color: var(--black);
  text-align: center;
  margin-top: 1rem;
}

.noAccount a {
  color: var(--orange);
  text-decoration: none;
}

label {
  display: block;
}